
    <div class="col-10 container">
      {{#each courses}}
      <div class="card">
        <h3 class='card title'>{{title}}</h3>
        <p class='tags'>{{location}}</p>
        <p class='tags'>{{age}}</p>
        <p class="card-content">
          {{description}}
          <a href="{{url}}">View Website</a>
        </p>
        <div class = 'card-footer'>
          <button class="button is-success">
    <span class="icon is-small">
      <i class="fas fa-check"></i>
    </span>
    <span>Save for later</span>
  </button>
        </div>

        <div id="courseDiv" class="card">
          <h3><a href="/courses/{{url}}"></a></h3>
        </div>
    </div>
    {{/each}}
  </div>
</div>
</section>
    <br>
    <!--Add Striped Border-->
    <h2 class="striped-border"></h2>
    {{!-- <script src="../public/js/courses.js"></script> --}}
